PORT=  "YOUR PORT" 
MONGODB_URL = "YOUR MONGODB URL"
JWT_SECRET = "YOUR JWT SECRET"
CLOUDNARY_API_KEY="your cloudnary api key"
CLOUDNARY_API_SECRET="your cloudnary api secret"
CLOUDNARY_CLOUD_NAME="your cloudnary cloud name"